/* Not linking :(

p {text-align: center;}
body {
    background-image: url('https://www.teahub.io/photos/full/126-1262553_free-high-resolution-geometric-backgrounds-free-geometric-pattern.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.star-rating {
    display: flex;
    transition: all 1s;
    margin: 50px auto;
    width: 250px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.star-rating input {
    display: none;
}
.star-rating > label {
    width: 50px;
    height: 50px;
    font-size: 50px;
    transition: 0.2s ease;
    color: yellow;
    border-bottom: 3px solid black;
}
.star-rating label:hover {
    color: #b8860b;
    transition: 0.5s ease;
}
.star-rating label:active::before {
    transform:scale(4);
}
.star-rating label::before {
    content: '\2606';
    position: absolute;
    line-height: 26px;
}
