<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

{% block meta %}
    <script>

        function myFxn() {
            const x = document.getElementById("abox")
            const y = document.getElementById("bbox")
            if (x.checked && y.checked){
                document.getElementById("and").innerHTML = "1";
            }
            else {
                document.getElementById("and").innerHTML = "0";
         }

        if (!(x.checked && y.checked)){
            document.getElementById("nand").innerHTML = "1";
        }
        else {
            document.getElementById("nand").innerHTML = "0";
        }
        if (x.checked || y.checked){ // if x or y is checked
            document.getElementById("or").innerHTML = "1";
        }
        else {
            document.getElementById("or").innerHTML = "0";
        }
        if (!(x.checked || y.checked)){
            document.getElementById("nor").innerHTML = "1";
        }
        else {
            document.getElementById("nor").innerHTML = "0";
        }
        if ( ( x.checked && !y.checked ) || ( !x.checked && y.checked ) ){
            document.getElementById("xor").innerHTML = "1";
        }
        else {
            document.getElementById("xor").innerHTML = "0";
        }
        }
    </script>
{% endblock %}

<head>
    <meta charset="UTF-8">
    <title>Logic Gate</title>
</head>

{% block body %}
    <html>
    <body>

    <!--for the title of the page-->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: Courier New,serif;font-size:45px;">
        <p> Logic Gate Lab!</p>
    </div>
    <!--For the rows-->
    <div class="row">
    <div class="col">
        <h2 class="text-left" style="margin: 2% 5% 5%;; font-family: Courier New,serif;">Inputs </h2>
        <style>
            .button1 {
                border: 2px solid #463d3d;
                border-radius: 4px;
                padding: 5px;
                width: 50px;
                color: antiquewhite;
                font-size: 15px;
                background-color: darkblue;
            }

            /* hover over effect*/
            .button1:hover {
                box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
                transform:scale(2);
                background-color: gray;
            }
        </style>
        <label>
            <span>A</span>
            <input type="checkbox" name="a" class="incline checkbox" id="abox" value="1">
        </label>

        <label>
            <span>B</span>
            <input type="checkbox" name="b" class="incline checkbox" id="bbox" value="1">
        </label>
        <input type="button" onclick="myFxn()" class="button button1" value="Woo">
        </form>
    </div>
    <div class="col-9">
    <h2 class="center-right" style="margin: 2% 5% 5%;; font-family: Courier New,serif;">Logic Gates </h2>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    <body>
    <table style="width:75%">
        <tr>
            <th>SYMBOL</th>
            <th>LOGIC GATE</th>
            <th>RESULT</th>
        </tr>

            <td><img src="static/assets/andweb.PNG" height=125 width=250></img></td>
            <td>And</td>
        <td><span id="and"></span></td>
        </tr>
        <tr>
            <td><img src="static/assets/nandweb.PNG" height=125 width=250></img></td>
            <td>Nand</td>
            <td><span id="nand"></span></td>
        </tr>
        <tr>
            <td><img src="static/assets/orweb.PNG" height=125 width=250></img></td>
            <td>Or</td>
            <td><span id="or"></span></td>
        </tr>
        <tr>
            <td><img src="static/assets/norweb.PNG" height=125 width=250></img></td>
            <td>Nor</td>
            <td><span id="nor"></span></td>
        </tr>
        <tr>
            <td><img src="static/assets/xorweb.PNG" height=125 width=250></img></td>
            <td>Xor</td>
            <td><span id="xor"></span></td>
        </tr>

    </table>
    </body>


{% endblock %}
</div>



</html>



