<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logic Gate</title>
</head>
{% extends "layouts/base.html" %}
{% block body %}
<html>
<body>

<!--for the title of the page-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:45px;">
    <p> Logic Gate Lab!</p>
</div>
    <!--Color Codes -->
    <div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:25px;color: cyan;">
        <div class="col-12">
            <p>Color Codes</p>
            </p>
        </div>
    </div>
    <div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:15px;">
        <div class="col-12">
            <p>Tasks: Display three rows of 8 bits. Allow for code to be 0 to 255, show color for RGB. Also, show color for R,G,B independently. This may require a different HTML layout.</p>
            </p>
        </div>
    </div>






{% endblock %}

</body>


</body>
</html>



