<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logic Gate</title>
</head>
{% extends "layouts/base.html" %}
{% block body %}
<html>
<body>

<!--for the title of the page-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:45px;">
    <p> Logic Gate Lab!</p>
</div>
    <div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
        <div class="col-12">
            <p>HI </p>
            </p>
        </div>
    </div>


{% endblock %}

</body>


</body>
</html>



