<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://image.shutterstock.com/image-vector/typography-w-letter-n-combine-260nw-1522772348.jpg" alt="NightWatch Logo" width="30" height=30">
</body>
</html><!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
fix    <a class="navbar-brand" href="">{{name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <li class="nav-item">
            <a class="nav-link" href={{ url_for('index') }}>Portfolio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href={{ url_for('greet') }}>Mini Project and Video Journal 0</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('aboutus') }}>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('athena') }}>Athena</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('allison') }}>Allison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('gaurish') }}>Gaurish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('aadya') }}>Aadya</a>
            </li>

            <!--drop down menu that worked -->
            <div class="center-block" style="margin: 1.7% 2% 0%; text-align:left; font-family: Arial,serif;font-size:15px; color:gray;">
            <label for="aboutme">About Me</label>
            <select name="aboutme "onchange="location.href = this.value;">
                <option value="blank">Choose</option>
                <option value="http://127.0.0.1:5000/aadya">Aadya</option>
                <option value="http://127.0.0.1:5000/gaurish">Gaurish</option>
                <option value="http://127.0.0.1:5000/allison">Allison</option>
                <option value="http://127.0.0.1:5000/athena">Athena</option>
            </select>











        </div>
    </div>
</nav>