<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://image.shutterstock.com/image-vector/typography-w-letter-n-combine-260nw-1522772348.jpg" alt="NightWatch Logo" width="30" height=30">
</body>
</html>a<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <li class="nav-item">
            <a class="nav-link" href={{ url_for('index') }}>Portfolio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href={{ url_for('greet') }}>greet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('aboutus') }}>aboutus</a>
            </li>
        </div>
    </div>
</nav>