<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>

<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Hi, welcome to the about me page! Here, you will find information about the students who made this site!</p>
    </div>
</div>
<!---this is for the background image -->
<style>
    body {
        background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
    }
</style>

<!-- Extending the project layout, as this file will do minor customizations -->
<!--The GREET code-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hi {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/greet_aadya" id="greet_aadya" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

</div>



<body>
<!---Aadya's title -->
<div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:30px;">
    <div class="col-12">
        <p> Aadya Daita </p>
    </div>
</div>

<!---Aadya's info -->
<div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
    <div class="col-12">
        <p>Name: Aadya Daita <br>
            <br>
            Age: 14 <br>
            <br>
            Date of Birth: December 30, 2006<br>
            <br>
            Favorite color: Light blue <br>
            <br>
            Favorite animal: Lion <br>
            <br>
            Message to user: Hi, welcome to our website. Hope you learn a bit about us! <br>
            <br>
            Picture of me: <br>

            <img src="https://drive.google.com/thumbnail?id=1m3CgKEiiSZqUoLxTKHdz5VaLAOw-aZ1P" style="height: 250px" >
        </p>
    </div>
</div>

</body>
</html>