<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>

<!--this is for navbar-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
        <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/aadya">Aadya</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/athena">Athena</a>
        <a href="http://127.0.0.1:5000/team">Team</a>

    </div>
</div>

<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Hi, welcome to the about me page! Here, you will find information about the students who made this site!</p>
    </div>
</div>
<!---this is for the background image -->
<style>
    body {
        background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
    }
</style>

<!-- Extending the project layout, as this file will do minor customizations -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hi {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/greet_allison" id="greet_allison" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

</div>



<body>
<!---Allison's title -->
<div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:30px;">
    <div class="col-12">
        <p> Allison </p>
    </div>
</div>

<!---Athena's info -->
<div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
    <div class="col-12">
        <p>Name: Allison <br>
            <br>
            Age: 17 <br>
            <br>
            Date of Birth: Jul 27, 2004<br>
            <br>
            Favorite color: Green! <br>
            <br>
            Favorite animal: A turtle <br>
            <br>
            Message to user: I'm eager to learn more about computer science and to be trying new things. I hope that our site is useful to you. <br>
            <br>
            Picture of me: <br>
            <img src="https://drive.google.com/thumbnail?id=1JN7v_34trJhFAxzCaVsdssP0-CeTyj5g" style="height: 300px" >
        </p>
    </div>
</div>
<p><iframe width="850" height="1100" src="https://docs.google.com/document/d/1aSwI7qBKnmvwyLkyffUaa-BpgM00lsl8RINiMVWxSHA/edit?usp=sharing"></iframe></p>

</body>
</html>