<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<!--navbar-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #FFFFFF;
        }

        .topnav a {
            float: left;
            color: #897C7C;
            text-align: center;
            padding: 20px 12px;
            text-decoration: none;
            font-size: 15px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /*.topnav a.active {
            background-color: white;
            color: #897C7C;
        }*/
    </style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://127.0.0.1:5000">Home/Portfolio</a>
    <a href="http://127.0.0.1:5000/gaurish">Gaurish's About Me</a>
    <a href="http://127.0.0.1:5000/allison">Allison's About Me</a>
    <a href="http://127.0.0.1:5000/aadya">Aadya's About Me</a>
    <a href="http://127.0.0.1:5000/greet">Mini Lab</a>
    <a href="http://127.0.0.1:5000/binary1">Binary</a>
    <a href="http://127.0.0.1:5000/videos">Videos</a>
    <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
    <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
    <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
</div>
</body>
</html>
<!--navbar ends-->
    <!--drop down code below-->
    <!--
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/team">Team</a>
            <a class="dropdown-item" href="/athena">Athena</a>
            <a class="dropdown-item" href="/gaurish">Gaurish</a>
            <a class="dropdown-item" href="/allison">Allison</a>
            <a class="dropdown-item" href="/aadya">Aadya</a>
        </div>
    </li> -->
    <!--drop down ends-->


<!--navbar ends here-->



<!--for the title of the page-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:45px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<!-- navbar
<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
        <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/allison">Allison</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/aadya">Aadya</a>
        <a href="http://127.0.0.1:5000/team">Team</a>

    </div>
</div>
-->







<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:25px;">
    <div class="col-12">
        <p>Hi, welcome to the about me page! Here, you will find information about the students who made this site!</p>
    </div>
</div>
<!---this is for the background image -->
<style>
    body {
        background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
    }
</style>

<!-- Extending the project layout, as this file will do minor customizations -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hi {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/greet_athena" id="greet_athena" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

</div>



<body>
<!---Athena's title -->
<div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:30px;">
    <div class="col-12">
        <p> Athena Wu </p>
    </div>
</div>

<!---Athena's info -->
<div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
    <div class="col-12">
        <p>Name: Athena Wu <br>
            <br>
            Age: 17 <br>
            <br>
            Date of Birth: May 05, 2004<br>
            <br>
            Favorite color: Cyan <br>
            <br>
            Favorite animal: Shiba Inu <br>
            <br>
            Message to user: Hi! I hope you will find the website useful and enjoy using the site! :) <br>
            <br>
            Picture of me: <br>
            <img src="https://drive.google.com/thumbnail?id=1-ZaqtGmpULr_vjoE2K67G8gu8F3rLRmx" style="height: 300px" >
        </p>
    </div>
</div>

<p><iframe width="850" height="1100" src="https://docs.google.com/document/d/12fsg1UKn_jaHmgELA5jITQyEVaJ7ZVFesGmUcsMG4zk/edit?usp=sharing"></iframe></p>

</body>
</html>








<!--navbar part 3-->

