<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Forum</title>
</head>
<!DOCTYPE html>

<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% block body %}


    <title>Binary page</title>


    <body style="font-family: Helvetica,serif; color: var(--gray);" >


    <!-- CONTENT Block, utilize this block for page specific content  -->

    <body>
    <!---Athena's title-->
    <div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Helvetica ;font-size:30px;">
        <div class="col-12">
            <p> Have a discussion!! </p>
        </div>
    </div>

    <!---Athena's info-->
    <div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Helvetica ;font-size:20px;">
        <div class="col-12">
            <p>Stub. In this page will go the class recommendation features, where students can discuss any concerns. <br>
            </p>
        </div>
    </div>

    <div class="col-12">
        <form action="/greet_commentforum3" id="greet_commentforum3" method="POST" >
            <label for="comment3">What classes do you like?</label>
            <input name="comment3" id="comment3">
            <input type="submit" value="Reccomend!">
        </form>
    </div>

    <div class="d-flex justify-content-left">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" img src="https://drive.google.com/thumbnail?id=1JN7v_34trJhFAxzCaVsdssP0-CeTyj5g" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Allison Huang</span><span class="date text-black-50">Shared publicly - July 2021</span></div>
                    </div>
                    <div class="mt-2">
                        <p>{{ comment3 }}</p>
                    </div>
                    <p>{{ comment4 }}</p>
                </div>
            </div>
            <div class="bg-white">
                <div class="d-flex flex-row fs-12">

                    <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1"><input type="submit" value="Like!" button class="btn btn-primary btn-sm shadow-none" type="button"</button></span></div>
                    <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1"><input type="submit" value="Share!" button class="btn btn-primary btn-sm shadow-none" type="button"</button></span></div>
                    <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1"><input type="submit" value="Save!" button class="btn btn-primary btn-sm shadow-none" type="button"</button></span></div>
                </div>
            </div>
            <div class="bg-light p-2">
                <div class="col-12">
                    <form action="/greet_commentforum4" id="greet_commentforum4" method="POST" >
                        <label for="comment4">Leave a comment.</label>
                        <input name="comment4" id="comment4">
                        <input type="submit" value="Greetings!" button class="btn btn-primary btn-sm shadow-none" type="button"</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}


<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Hi, welcome to the class reccomendations page!</p>
    </div>
</div>

<!---this is for the background image -->
<style>
    body {
        background-image: url('https://www.teahub.io/photos/full/126-1262553_free-high-resolution-geometric-backgrounds-free-geometric-pattern.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>