<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Forum</title>
</head>

<!--this is for navbar-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/allison">Allison</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/aadya">Aadya</a>
        <a href="http://127.0.0.1:5000/team">Team</a>
    </div>
</div>

<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Hi, welcome to the comment forum page!</p>
    </div>
</div>

<!---this is for the background image -->
<style>
    body {
        background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
    }
</style>


<body>
<!---Athena's title -->
<div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:30px;">
    <div class="col-12">
        <p> Have a discussion!! </p>
    </div>
</div>

<!---Athena's info -->
<div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
    <div class="col-12">
        <p>Stub. In this page will go the comment forum features, where students can discuss any concerns. Below is our wireframing of our potential product on google slides. <br>
        </p>
    </div>
</div>

<p><iframe width="850" height="1100" src="https://docs.google.com/presentation/d/1UJboee1Pooy2vpqJxhB5FvWtXuExaZHRhhywYRlrPYc/edit?usp=sharing"></iframe></p>

</body>
</html>