<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<!-- Extending the project layout, as this file will do minor customizations -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hi, the amazing, miraculous, wonderful . . . {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/greet_gaurish" id="greet_gaurish" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

</div>


<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Good to have you here!</p>
    </div>
</div>
<!---this is for the background image -->
<style>
    body
    {
        background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
    }

</style>




<body>
<!---Gaurish's title -->
<div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:30px;">
    <div class="col-12">
        <p> Gaurish Gaur</p>
    </div>
</div>

<!---Gaurish's info -->
<div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
    <div class="col-12">
        <p>Name: Gaurish Gaur <br>
            <br>
            Age: 17 <br>
            <br>
            Date of Birth: August 1st, 2004<br>
            <br>
            Favorite color: Brown <br>
            <br>
            Favorite animal: Mole <br>
            <br>
            Message to user: ☺ <br>
            <br>
            Picture of me: <br>
            <img src="https://drive.google.com/thumbnail?id=1M8WXSavKDpB-gzZXPMFsnFmTSU8o7mur" style="height: 250px" >
        </p>
    </div>
</div>
{% include "layouts/navbar.html" %}

</body>
</html>