<!--this is for navbar-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
        <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/allison">Allison</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/athena">Athena</a>
    </div>
</div>



<style>
    body {
        background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/light-pastel-green-solid-color-inspired-by-mint-whisper-5008-7a-2020-color-of-the-year-melissa-fague.jpg');
    }
</style>


<!-- Extending the project layout, as this file will do minor customizations -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hi {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/greet" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

    <p>Here are our pair share journals with our notes on the Binary Mini-Lab:</p>
    <p><iframe width="850" height="1100" src="https://docs.google.com/document/d/12fsg1UKn_jaHmgELA5jITQyEVaJ7ZVFesGmUcsMG4zk/edit?usp=sharing"></iframe></p>
    <p><iframe width="850" height="1100" src="https://docs.google.com/document/d/1aSwI7qBKnmvwyLkyffUaa-BpgM00lsl8RINiMVWxSHA/edit?usp=sharing"></iframe></p>