<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}

{% set repo = "https://github.com/Athena9355/Fire-extinguisher" %}
{% set scrumboard = "https://github.com/Athena9355/Fire-extinguisher/projects/1" %}
{% set authors = "aboutus" %}
{% set Wireframe = "https://docs.google.com/presentation/d/1UJboee1Pooy2vpqJxhB5FvWtXuExaZHRhhywYRlrPYc/edit?usp=sharin" %}


