<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate a Class</title>
</head>

<!--this is for navbar-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/allison">Allison</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/aadya">Aadya</a>
    </div>
</div>

<!---this is for the title of the page -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Hi, welcome to the rating class page!</p>
    </div>
</div>

<!---this is for the background image -->
<style>
    body {
        background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
    }
</style>

<!-- Extending the project layout, as this file will do minor customizations -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hi {{name}}!</p>
    </div>

    <div class="col-12">
        <form action="/greet_athena" id="greet_athena" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

</div>


<body>
<!---Athena's title -->
<div class="center-block" style="margin: 2% 2% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:30px;">
    <div class="col-12">
        <p> Rate a Class! </p>
    </div>
</div>

<!---Athena's info -->
<div class="center-block" style="margin: 2% 5% 2%; text-align:left; font-family: Times New Roman ,serif;font-size:20px;">
    <div class="col-12">
        <p>Stub. In this page will go the rating class features, with classes from math to social studies. Below is our wireframing of our potential product on google slides. <br>
        </p>
    </div>
</div>

<p><iframe width="850" height="1100" src="https://docs.google.com/presentation/d/1UJboee1Pooy2vpqJxhB5FvWtXuExaZHRhhywYRlrPYc/edit?usp=sharing"></iframe></p>

</body>
</html>