<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!--this is for navbar-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
        <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/allison">Allison</a>
        <a href="http://127.0.0.1:5000/aadya">Aadya</a>
        <a href="http://127.0.0.1:5000/athena">Athena</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/team">Team</a>
    </div>
</div>

<!-- Extending the project layout, as this file will do minor customizations -->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
        <div class="col-12">
            <p>This is a page for the team as a whole, go team fire extinguishers!</p>
        </div>
        <div id="github" class="repo block">

        </div>

        <div class="row justify-content-center">
            <div class="col" style="text-align: center;">
                <h1>Who we are</h1>
                <p>Aadya Daita &nbsp; Allison Huang &nbsp; Athena Wu &nbsp; &nbsp; Gaurish Gaur    </p>
                <a href="http://127.0.0.1:5000/aadya"> <img src="https://drive.google.com/thumbnail?id=1m3CgKEiiSZqUoLxTKHdz5VaLAOw-aZ1P" style="height: 300px"
                <a href="http://127.0.0.1:5000/allison"> <img src="https://drive.google.com/thumbnail?id=1JN7v_34trJhFAxzCaVsdssP0-CeTyj5g" style="height: 300px" >
                    <a href="http://127.0.0.1:5000/athena"> <img src="https://drive.google.com/thumbnail?id=1-ZaqtGmpULr_vjoE2K67G8gu8F3rLRmx" style="height: 300px" >
                        <a href="http://127.0.0.1:5000/gaurish"> <img src="https://drive.google.com/thumbnail?id=1M8WXSavKDpB-gzZXPMFsnFmTSU8o7mur" style="height: 300px" >

            </div>
            <h2>Resources We Used</h2>

            <div class="row">
                <div class="col-sm-4" style="background-color:none;">   <a width="393" height="246" class="twitter-timeline" href="https://twitter.com/NighthawkCoding?ref_src=twsrc%5Etfw">Tweets by NighthawkCoding</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>            </div>
            </div>
                <div class="col-sm-4" style="background-color:none;"> <iframe width="393" height="246" src="https://csp.nighthawkcodingsociety.com/y2022/padlet" title="Team Scrum Board"></iframe>
                </div>
                <div class="col-sm-4" style="background-color:none;">        <iframe width="393" height="246" src="https://www.youtube.com/embed/videoseries?list=PLnwWYgE_KgCRs5aHmMY1Nqx_vzaYt50hm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="background-color:none;">    <iframe width="393" height="246" src="https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" title="Flask Portfolio Starter"></iframe>
                </div>
                <div class="col-sm-4" style="background-color:none;">    <iframe src="https://free.timeanddate.com/clock/i7z9o1lf/n815/szw110/szh110/cf100/hnce1ead6" frameborder="0" width="393" height="246"></iframe>
                </div>
                <div class="col-sm-4" style="background-color:none;">    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6841059192334241792" height="246" width="393" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="background-color:none;">  <iframe width="393" height="246" src="https://getbootstrap.com/docs/5.1/examples/" title="Bootstrap"></iframe> </div>
                <div class="col-sm-4" style="background-color:none;">    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6842199233563643904" height="246" width="393" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>    &nbsp &nbsp &nbsp
                </div>
                <div class="col-sm-4" style="background-color:none;">    <iframe width="393" height="246" src="http://127.0.0.1:5000/" title="Team Scrum Board"></iframe>
                </div>
            </div>



        <!---this is for the background image -->
        <style>
            body
            {
                background-image: url('https://secure.img1-fg.wfcdn.com/im/33953698/resize-h445%5Ecompr-r85/9949/99492922/Plaid+33%2527+L+x+21%2522+W+Wallpaper+Roll.jpg');
            }

        </style>
</html>


</style>



