<!--this is for navbar-->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Courier New,serif;font-size:25px;">
    <div class="col-12">
        <p>Navigate to other pages!</p>
    </div>
</div>

<div class="center-block" style="margin: 0% 5% 2%; text-align:left; font-family: Courier New,serif;font-size:20px;">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:5000">Home</a>
        <a href="http://127.0.0.1:5000/greet">Mini Lab and Journal 0</a>
        <a href="http://127.0.0.1:5000/ratingsystem">Rate a Class</a>
        <a href="http://127.0.0.1:5000/classrecommendations">Class Recommendations</a>
        <a href="http://127.0.0.1:5000/commentforum">Comment Forum</a>
        <a href="http://127.0.0.1:5000/allison">Allison</a>
        <a href="http://127.0.0.1:5000/gaurish">Gaurish</a>
        <a href="http://127.0.0.1:5000/athena">Athena</a>
    </div>
</div>



<style>
    body {
        background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/light-pastel-green-solid-color-inspired-by-mint-whisper-5008-7a-2020-color-of-the-year-melissa-fague.jpg');
    }
</style>


<!--this is for embedded video-->
<div class="center-block" style="margin: 2% 0% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Journal 0</p>
    </div>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/U9hPRV0s-54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


<div class="center-block" style="margin: 2% 0% 5%; text-align:left; font-family: Brush Script MT,serif;font-size:45px;">
    <div class="col-12">
        <p>Video 1</p>
    </div>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cEhrHq4HBoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>