<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

{% block meta %}
    <script>
        function myFxn() {
            const x = document.getElementById("abox")
            const y = document.getElementById("bbox")

            if (x.checked || y.checked) {
                document.getElementById("uno").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"
back stub                 var i = 1


            }
            if (x.checked && y.checked) {
                document.getElementById("uno").innerHTML = "<img src=static/assets/happyhappy.PNG height=125 width=125></img>"
                var i = 2
            }
            if (!(x.checked || y.checked)) {
                document.getElementById("uno").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                var i = 0

            }

            const c = document.getElementById("cbox")
            const d = document.getElementById("dbox")
            if (c.checked || d.checked) {
                document.getElementById("dos").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"
                var o = 1
            }
            if (c.checked && d.checked) {
                document.getElementById("dos").innerHTML = "<img src=static/assets/happyhappy.PNG height=125 width=125></img>"
                var o = 2
            }
            if (!(c.checked || d.checked)) {
                document.getElementById("dos").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                var o = 0
            }

            const e = document.getElementById("ebox")
            const f = document.getElementById("fbox")
            if (e.checked || f.checked) {
                document.getElementById("tres").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"
                var p = 1
            }
            if (e.checked && f.checked) {
                document.getElementById("tres").innerHTML = "<img src=static/assets/happyhappy.PNG height=125 width=125></img>"
                var p = 2
            }
            if (!(e.checked || f.checked)) {
                document.getElementById("tres").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                var p = 0
            }
            const z = document.getElementById("zbox")
            var decimals = (i + o + p) / 6
            var decimalsper = decimals*100 + "%"
            if (z.checked) {
                document.getElementById("result").innerHTML = decimalsper;
            }


            if (decimals > .8) {
                document.getElementById("pictureresult").innerHTML = "<img src=static/assets/happyhappy.PNG height=125 width=125></img>"
            }
            else
            {
                if (decimals < .5) {
                    document.getElementById("pictureresult").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                }
                else {
                    document.getElementById("pictureresult").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"

                }
            }
        }
        </script>

{% endblock %}

<head>
    <meta charset="UTF-8">
    <title>Logic Gate</title>
</head>

{% block body %}
    <html>
    <body>

    <!--for the title of the page-->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: Courier New,serif;font-size:45px;">
        <p> Feedback Page </p>
    </div>
    <!--For the rows-->
    <div class="row">
    <div class="col">
        <style>
            .button1 {
                border: 2px solid #463d3d;
                border-radius: 4px;
                padding: 5px;
                width: 50px;
                color: antiquewhite;
                font-size: 15px;
                background-color: darkblue;
            }

            /* hover over effect*/
            .button1:hover {
                box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
                transform:scale(2);
                background-color: gray;
            }
            .button2 {
                border: 2px solid #463d3d;
                border-radius: 4px;
                padding: 5px;
                width: 50px;
                color: antiquewhite;
                font-size: 15px;
                background-color: darkblue;
            }

            /* hover over effect*/
            .button2:hover {
                box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
                transform:scale(2);
                background-color: gray;
            }
        </style>

        </form>
    </div>
    <div class="col-9">
    <h2 class="center-right" style="margin: 2% 5% 5%;; font-family: Courier New,serif;">How are you feeling? </h2>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
    <body>
    <table style="width:75%">
        <tr>
            <th>Question</th>
            <th>Question #</th>
            <th>Result :) :/ :(</th>
        </tr>

        <td> <label>
            <span>  &nbsp &nbsp &nbsp  Are You Satisfied with the Teacher?</span>
            <input type="checkbox" name="A" class="incline checkbox" id="abox" value="1">
        </label>

            <label>
                <span> &nbsp &nbsp &nbsp Are You Satisfied with the Class?</span>
                <input type="checkbox" name="B" class="incline checkbox" id="bbox" value="1">
            </label></td>
        <td> #1 </td>
        <td><span id="uno"></span></td>
        </tr>
        <tr>
            <td><label>
                <span> &nbsp &nbsp &nbsp Did you enjoy?</span>
                <input type="checkbox" name="C" class="incline checkbox" id="cbox" value="1">
            </label>

                <label>
                    <span> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Was the class easy?</span>
                    <input type="checkbox" name="D" class="incline checkbox" id="dbox" value="1">
                </label></td>
            <td>#2</td>
            <td><span id="dos"></span></td>
        </tr>
        <tr>
            <td><label>
                <span>&nbsp &nbsp &nbsp Were the resources helpful?</span>
                <input type="checkbox" name="E" class="incline checkbox" id="ebox" value="1">
            </label>

                <label>
                    <span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp Did you learn?</span>
                    <input type="checkbox" name="F" class="incline checkbox" id="fbox" value="1">
                </label></td>
            <td>#3</td>
            <td><span id="tres"></span></td>
        </tr>
        <tr>
            <td><label>
                <span>&nbsp &nbsp &nbsp Are you ready for your result!</span>
                <input type="checkbox" name="g" class="incline checkbox" id="zbox" value="1">
            </label>
            </td>
            <td><input type="button" onclick="myFxn()" class="button button2" value="Done"></td>
            <td><span id="result"> </span>
                <span id="pictureresult"></span>
            </td>
        </tr>
    </table>
    </body>


{% endblock %}
</div>



</html>