<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block meta %}
    <script>
        function setImg(img, base64, base64GRAY, button) {
            const imgLink = document.getElementById(img)
            const btn = document.getElementById(button)
            if (imgLink.src == document.getElementById(base64).innerHTML) {
                imgLink.src = document.getElementById(base64GRAY).innerHTML;
                btn.innerHTML = "{{ color }}";
            }
            else {
                imgLink.src = document.getElementById(base64).innerHTML;
                btn.innerHTML = "{{ greyscale }}";
            }
        }
    </script>
    <title>RGB starter</title>
{% endblock %}

{% block body %}
    <h1 class="text-center">RGB values within an Image</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.label}}
                                <!--thumbnail code 1 starts
                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                <style>
                                    img {
                                        border: 1px solid #ddd;
                                        border-radius: 4px;
                                        padding: 5px;
                                        width: 150px;
                                    }

                                    img:hover {
                                        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                                    }
                                </style>
                                </head>
                                <body>
                                <p>Click on the image to enlarge it.</p>
                                </body>
                            </div>
                                <td>
                                    <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="225" height="Auto" src="{{image.base64}}" >
                                    <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1"><input type="submit" value="Greyscale!" button class="btn btn-primary btn-sm shadow-none" type="button" id="butt{{loop.index}}" onclick="setImg('img{{loop.index}}', 'img_orig{{loop.index}}', 'img_gray{{loop.index}}', 'butt{{loop.index}}')">{{ greyscale }} </span></div>
                                    <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                                    <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                                <a target="_blank" href="https://free-url-shortener.rb.gy/open-graph.png">
                                    <img src="https://free-url-shortener.rb.gy/open-graph.png" alt="{{image.base64}}" style="width:150px">
                                </a>
                                </td>
                                </body>
                                thumbnail 1 ends -->
                            </div>
                            <div>{{image.source}}</div>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="225" height="Auto" src="{{image.base64}}" >
                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1"><input type="submit" value="Greyscale!" button class="btn btn-primary btn-sm shadow-none" type="button" id="butt{{loop.index}}" onclick="setImg('img{{loop.index}}', 'img_orig{{loop.index}}', 'img_gray{{loop.index}}', 'butt{{loop.index}}')">{{ greyscale }} </span></div>
                            <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>

                            <!--<img class="img-responsive py-3" id=img{{loop.index}} alt="" width="225" height="Auto" src="{{image.base64}}" >
                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1"><input type="submit" value="Blur!" button class="btn btn-primary btn-sm shadow-none" type="button" id="butt{{loop.index}}" onclick="setImg('img{{loop.index}}', 'img_orig{{loop.index}}', 'img_gray{{loop.index}}', 'butt{{loop.index}}')">{{ blur }} </span></div>
                            <p hidden id="img_blur{{ loop.index }}"> {{ image.base64_blur }}</p> -->


                            <!--code for thumbnail -->
                            <style>
                                img {
                                    border: 1px solid #ddd;
                                    border-radius: 4px;
                                    padding: 5px;
                                    width: 150px;
                                }
                                img:hover {
                                    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
                                }
                            </style>
                            <body>

                            <!--<a target="_blank" href= "static/assets/35108-Pretty-Halloween-Bokeh.jpg">
                                <img src="{{image.base64}}" alt="">
                            </a> -->

                            </body>

                            <!--code for blurry image-->
                            <meta name="viewport" content="width=device-width, initial-scale=10">
                            <style>
                                img {
                                    -webkit-filter: blur(1px);
                                    filter: blur(1px);
                                }
                            </style>
                            </head>
                            <body>

                            <!--<img src="static/assets/Darknature6.jpg" alt="darknature"> -->
                            </body>




                        </td>

                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256 + 1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array[loop.index - 1]}}</td>
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}